@import "tailwindcss";


body {
  background-color: #ffffff;

  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fillBar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.animate-fill-bar {
  animation: fillBar 5s linear forwards;
}
